{% extends 'base.html' %}
{% block content %}
<div class="card p-4">
  <h3>Email Registration</h3>

  <form method="POST">
    <input type="email" name="email" class="form-control mb-2"
           placeholder="Enter your email (username)" required>

    <input type="password" name="password" class="form-control mb-2"
           placeholder="Create password" required>

    <input type="password" name="confirm_password" class="form-control mb-2"
           placeholder="Confirm password" required>

    <button class="btn btn-primary w-100">Register</button>
  </form>
</div>
{% endblock %}
